.pio
.vscode
bin/noota4mb/*
!bin/noota4mb/README
bin/wota8mb/*
!bin/wota8mb/README
bin/noota4mbnod/*
!bin/noota4mbnod/README
bin/wota8mbnod/*
!bin/wota8mbnod/README
data/config.json
include/webh/*
!include/webh/README
scripts/__pycache__/*
scripts/htmlmin/__pycache__/*
scripts/htmlmin/python3html/__pycache__/*
unpacked_fs/*
partition_table_from_flash.bin
RadioESP32.code-workspace
