.pio
.vscode
bin/RadioESP32_binaries.zip
bin/bootloader.bin
bin/partitions.bin
bin/btls_app/*
!bin/btls_app/README
bin/menu_app/*
!bin/menu_app/README
bin/radio_app/*
!bin/radio_app/README
data/*
!data/README
filesystems/menu_app/config.json
filesystems/menu_app/binaries.json
filesystems/radio_app/config.json
filesystems/radio_app/binaries.json
include/webh/*
!include/webh/README
scripts/__pycache__/*
scripts/htmlmin/__pycache__/*
scripts/htmlmin/python3html/__pycache__/*
partition_table_from_flash.bin
RadioESP32.code-workspace
